@use "./variables";

.choices {
  min-height: 23vw;
  min-width: 23vw;

  background-image: url(../images/bg-pentagon.svg);
  background-size: cover;
  background-position: center;

  position: relative;
  z-index: 0;

  @media only screen and (max-width: variables.$bp-large) {
    height: 50vw;
    width: 50vw;
  }

  @media only screen and (max-width: variables.$bp-medium) {
    height: 70vw;
    width: 70vw;
  }
}
