@use "./variables";

.step-picking,
.step-result {
  display: flex;

  &__player,
  &__computer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6.4rem;
    width: 25vw;

    @media only screen and (max-width: variables.$bp-large) {
      width: 50vw;
    }

    @media only screen and (max-width: variables.$bp-medium) {
      .heading-tertiary {
        order: 1;
      }
    }
  }

  .choice {
    position: relative;
    top: 0;
    left: 0;
    z-index: 100;

    &::before {
      z-index: -1;
      height: 22rem;
      width: 22rem;

      @media only screen and (max-width: variables.$bp-medium) {
        height: 18rem;
        width: 18rem;
      }
    }

    img {
      height: 10rem;
      width: 10rem;

      @media only screen and (max-width: variables.$bp-medium) {
        height: 6rem;
        width: 6rem;
      }
    }
  }
}

.heading-tertiary {
  color: #fff;
  font-size: 2.8rem;
  letter-spacing: 2px;
  text-transform: uppercase;

  @media only screen and (max-width: variables.$bp-medium) {
    font-size: 2.4rem;
  }
}
